h1{
    background-color:antiquewhite;
    color: blue;
}

h1{
    background-color: rgb(226, 195, 43);

}
/* by order */
/* if we are applying css on same element then  last me aayega uska property apply hoga */

.first{
    background-color: black;
}
 
#id{
   background-color: crimson;
}
/* here both id and class target same element so due to pority specificity id attributes will be apply */


/* attrubutes selector */
h1[draggable=
"true"]{
    background-color: blue;
}
/*  select by child*/
body >h1{
    background-color: black;
}
/* select by descedent */
body h1{
    background-color: rgb(0, 0, 0);
}