.container{
    background-color: rgb(0, 157, 255);
    margin-left: 200px;
    margin-top: 200px;
}
.box{
    display: inline-block;
   height: 200px;
   width: 200px;
   background-color: rgb(76, 0, 255);
}
/* use of position relative 
it provides 4 facility top,bottom,left ,right
position: static = by default position is static any faclility not work in static
position: relative = it moves from the original position 
position: absolute
*/
.box1{
  background-color: chartreuse;
  position: relative;
  top: 20px;
  left: 30px;
  
}
.box2{
  background-color: rgb(255, 0, 89);
  position: absolute;
}
.box3{
    
  background-color: rgb(123, 0, 255);
}
.box4{
  background-color: rgb(0, 47, 255);
}